[alias]
    st = status
    s = status -s
    ci = commit
    co = checkout
    br = branch
    di = diff
    dic = diff --cached
    glog = log --graph
    rb = svn rebase
    ss = stash
    sci = svn dcommit
    ssp = stash pop
    ps = push
    pl = pull
    plr = pull --rebase
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[user]
    name = 
	email = 
[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
[core]
    excludesfile = ~/.gitignore

[giggle]
	main-window-maximized = true
	main-window-geometry = 0x0+0+0
	history-view-vpane-position = 422
	main-window-view = HistoryView
	file-view-vpane-position = 798
#[http]
#	proxy = 127.0.0.1:8118
[http]
	sslVerify = true
[push]
	default = current
